.expenses {
  margin: 50px auto 0;
  padding: 0 15px;
  width: 100%;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
}

.expenses__title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.expenses__form {
  max-width: 390px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.expenses__form-edit_inactive {
  display: none;
  transition: all 0.5s ease-in-out;
}

.expenses__form-add {
  display: none;
  transition: all 0.5s ease-in-out;
}

.expenses__form-add_active {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.expenses__form-label {
  flex: 1 1 100%;
}

.expenses__input {
  padding: 0 10px;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-right: none;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.expenses__input::placeholder {
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}

.expenses__input::-webkit-outer-spin-button,
.expenses__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.expenses__btn {
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  border-radius: 0 10px 10px 0;
  width: 10%;
  height: 45px;
  background: #fff;
  outline: none;
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.expenses__btn_active {
  border-right: none;
  border-radius: 0;
}

.expenses__btn-reset {
  padding: 0 10px;
  width: 0;
  scale: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  border-radius: 0 10px 10px 0;
  align-items: stretch;
  display: none;
}

.expenses__btn-reset_active {
  display: flex;
  width: 10%;
  scale: 1;
}

.expanses__edit-btn {
  border: none;
  outline: none;
  background-image: url(../img/edit-icon.png);
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
}

.expanses__confirm-btn {
  width: 43px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  border-radius: 0 10px 10px 0;
  outline: none;

  background: url(../img/confirmation-icon.png) #fff no-repeat center;
}

.expenses__summary {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.expenses__history {
  padding: 5px;
  border: 1px solid #b6adad;
  border-radius: 10px;
  width: 50%;
}

.expenses__log {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.expenses__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.expenses__status {
  padding: 5px;
  width: 50%;
  border: 1px solid #b6adad;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.expenses__credit {
  display: none;
}

.expenses__limit-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expenses__credit_active {
  display: block;
}
