.expenses {
  margin: 50px auto 0;
  padding: 0 15px;
  width: 100%;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.expenses__title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.expenses__form {
  max-width: 390px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.expenses__form-label {
  flex: 1 1 100%;
}

.expenses__input {
  padding: 0 10px;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-right: none;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  outline: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.expenses__input::placeholder {
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}

.expenses__input::-webkit-outer-spin-button,
.expenses__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.expenses__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  border-radius: 0 10px 10px 0;
  height: 45px;
  background: none;
  outline: none;
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  cursor: pointer;
  transition: all 1s ease;
}

.expenses__btn-reset {
  width: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  visibility: hidden;
}

.expenses__btn-reset_active {
  width: 100%;
  visibility: visible;
}

.expenses__summary {
  display: flex;
  justify-content: space-between;
}
.expenses__history {
  width: 50%;
}

.expenses__log {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.expenses__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expenses__status {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
